* {
    box-sizing: border-box;
  }
  .openBtn {
    display: flex;
    justify-content: left;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    
  }
  .loginPopup {
    position: relative;
    
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 1000px;
    min-width: 700px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }



  .lessonTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
.lessonTable th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.lessonTable th {
    background-color: #f2f2f2;
}
.lessonTable tr:hover {
    background-color: #f5f5f5;
}
.search-container {
    margin-bottom: 20px;
}
.search-container input[type=text] {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 50px;
    
}
.search-container button {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #1058a59f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.search-container button:hover {
    background: #145daabd;
    
}

.bottom-input {
position: fixed;
bottom: 0;
left: 50%;
transform: translateX(-50%);
padding: 10px;
}


.profile {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile .profile-info {
    text-align: center;
    margin-top: 20px;
}
.profile .profile-info strong {
    color: #333;
}
.profile .note {
    margin-top: 20px;
}
.profile .note h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.profile textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}
.profile textarea:focus {
    outline: none;
    border-color: dodgerblue;
}